.button {
  display: inline-flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  border-radius: var(--border-radius-m);

  // Variants
  &.solid {
    background-color: var(--color-primary);
    color: var(--color-dark-text);
  }
  &.outline {
    background-color: transparent;
    color: var(--color-primary);
    box-shadow: 0 0 1px var(--color-primary);
  }

  // Sizes
  &.m {
    height: var(--space-8);
    min-width: var(--space-8);
    padding: 0 var(--space-2);
  }
  &.s {
    height: var(--space-6);
    min-width: var(--space-6);
    padding: 0 var(--space-1-5);
  }
}
