@mixin default-transition {
  transition: var(--transition-duration-normal) var(--transition-properties-common);
}

@mixin focus-outline {
  outline: transparent solid 2px;
  box-shadow: 0 0 0 2px var(--color-outline);
}
